annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
click==8.3.1
colorama==0.4.6
decorator==5.2.1
fastapi==0.134.0
h11==0.16.0
idna==3.11
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
joblib==1.5.3
moviepy==2.2.1
numpy==2.4.2
pillow==11.3.0
proglog==0.1.12
pydantic==2.12.5
pydantic_core==2.41.5
python-dotenv==1.2.1
python-multipart==0.0.22
starlette==0.52.1
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.41.0
